@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Prompt:100,200,300,400,500,600,700');

/* @import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap'); */

* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    font-family: 'Exo', sans-serif;
}


.callout {
    font-size: 16px;
    font-weight: 500;
    /* text-align: center; */
    /* font-family: Play; */
    text-align: center;
}

.callout-top {
    margin-top: 3rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.footer-not-fixed-to-bottom {
    height: 8rem;
    /* background-color: #f54500; */
    color: cornsilk;
    width: 100%;
    box-shadow:  0px -1px 3px 0px rgba(0, 0, 0, 0.486);
}

.footer-fixed-to-bottom {
    height: 7rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: #f55a00; */
    color: cornsilk;
    text-align: center;
    box-shadow:  0px -1px 3px 0px rgba(0, 0, 0, 0.486);
}

#padding-div {
    height: 150px;

}

.social-media {
    text-align: center;
    /* margin-top: 100px; */
    /* margin-bottom: 50px; */
    
}

footer li {
    /* margin-top: 20px; */
    display: inline;
    text-align: center;
    margin: 25px;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 23px;
}

footer a:hover{
    color: white;
}

footer i {
    padding-top: 50px;
}

.footer-i-fixed {
    padding-top: 35px;
}

/* .box-shadow {
    box-shadow:  0px 9px 9px 8px rgb(44, 40, 40);
} */



.logo2 {
    display: none;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.centered {
    text-align: center;
}

.side-by-side {
    display:inline;
}

.fa-sign-in-alt:before, .fa-user-plus:before {
    font-size: 17px;
    padding-left: 6px;
}

.fa-user-plus:before {
    font-size: 15px;
    padding-left: 6px;
}

.register-icon {
    font-size: 30px !important;
}

.login-section {
    padding-top: 50px;
    padding-bottom: 50px;
}



.home-intro {
    
}

/* #hero-div {
    height: 35em;
    width: 100%;
}

#hero-image {
    display: block;
    text-align: center;
    height: 35em;
    width: 100%;
    background: url("/static/img/pexels-albin-berlin-919073-minified.jpg") no-repeat center center;
    background-size: cover;
} */

/* .main-background {
    background: url("/static/img/pexels-albin-berlin-919073-minified.jpg") no-repeat center center;
    background-size: cover;
} */

.page-title {
    padding-top: 25px;
    color: rgb(233, 99, 50);
}

.home-page-login {
    width: 100%;
}

.home-page-card {
    display:inline;
}

.home-page-card-padding {
    padding-top: 45px;
}

.tutorial-list {
    margin-bottom: 0px;
}

.tutorial-choices {
    display: inline-flex;
}

.tutorials-header {
    padding-top: 10px;
    font-size: 1.5em;
    text-align: center;
}

.tutorials-callout {
    font-size: 1.2em;
    text-align: center;
}

.card-stacked {
    width: 70%;
    height: 15em;
}

.card-header {
    padding-left: 25px;
    font-size: 25px;
}

.card-title {
    font-weight: 500;
    position: relative;
    /* top: 100px; */
    /* text-decoration-color: darkorange; */
}

.card {
    display: inline;
}

option {
    color: rgb(233, 99, 50);
}

.submit-title {
    padding-bottom: 1em;
    padding-top: 1em;
}

.submit-icon {
    font-size: 20px;
}

.selected-item {
    width: 100%;
    border-bottom: 5px;
    margin-left: 3em;
}

.call-out {
    text-align: center;
    position: relative;
    bottom: 20px;
}

.hide-button {
    height: 0px;
    width: 0px;
}

#sim-name {
    border-bottom: 10px;
}

.headings {
    margin: auto;
    width:65%;
    background:rgb(233, 99, 50);
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 13px;
    text-align: center;
    color: seashell;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
    box-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.user-list-heading {
    width: 100%;
}

#submit-setup-form > #parameters-section > label:before {
    font-size: 15px;
}

#submit-setup-form > #parameters-section > label:after {
    font-size: large;
}

.input-field>label {
    font-size: 18px;
    border-bottom: 50px;
}

#setup-type-label {
    position:relative;
    bottom: 3rem;
    left: 5rem;
    font-size: 15px;
}

#setup-type-radio {
    position: relative;
    right: 5rem;
    top: 1rem;
    /* width: 100%;
    border: auto;
    display: block; */
}

.radio-width {
    margin-left: 3rem;
}

label {
    font-style: ;
}

.submit-button-div {
    margin-bottom: 1rem;
    display: inline-block;
    position: relative;

}

#submit-page-button-section {
  margin: auto;
  width: 75%;
  text-align: center;
}

.edit-setup-directions {
    /* color:rgb(233, 99, 50); */
    padding-bottom: 30px;
    /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.151); */
    font-weight: 700;
    font-size: 20px;
}

.edit-setup-directions-small {
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 15px;
}

#users-setup-list div {
    display: inline-table;
}

#view-setup-page-buttons {
    text-align: center;
}

#edit-page-button-section {
    text-align: center;
}


.admin-icons {
    font-size: 3rem;
    padding-top: 2.5rem;
}

.admin-choices {
    padding-left: 0px;
    font-weight: 600;
}

.admin-card {
    margin-bottom: 30px;
}

.large-admin-page p {
    font-weight: 600;
    font-size: 2rem;
    border-bottom: 0px;
    margin-bottom: 0px;
}

.large-admin-page i {
    padding: 0px;
}

.mobile-admin-choices .card-title {
    font-weight: 400;
    
}

.mobile-admin-choices .admin-card {
    padding-left: 55px;
    color: blanchedalmond !important;
}

.large-admin-page .card-action {
    text-align: center;
    padding-left: 50px;
}

.large-admin-page .card-action a {
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
}


/* label::after {
    font-size: large;
} */

/* #caret-placing-coaches:before {
    margin-left: 360px;
}

#caret-placing-components:before {
    margin-left: 400px;
    
} */

/* @media (min-width: 820px) {
    #quick-search-input-box {
        width: 130%;
        position: relative;
        right: 100px;
    }
} */

@media (min-width: 992px) {
    .brand-logo {
        text-align: left;
        position: relative;
        left: 7px;
    }
}

@media (min-width: 970px) {
    .call-out {
        text-align: left;
        position: relative;
        left: 12px;
    }
    /* .callout {
        font-size: 17px; */
    }
}

@media (min-width: 1200px) {
    .callout {
        font-size: 20px;
    }
}

@media (max-width: 736px) {
    nav .brand-logo {
        font-size: 1.7em;
    }
    /* #caret-placing-coaches:before {
        margin-left: 81px;
    }
    
    #caret-placing-components:before {
        margin-left: 120px;
} */
}

/* @media (max-width: 390px) {
    #caret-placing-coaches:before {
        margin-left: 9px;
    }
    
    #caret-placing-components:before {
        margin-left: 50px;
    }
} */

@media (max-width: 736px) {
    .call-out {
        font-size: 1.4rem;
    }
}

@media (max-width: 351px) {
    nav .brand-logo {
        font-size: 1.5em;
    }
    .tutorial-menu {
        font-size: 12px;
    }
    /* #caret-placing-coaches:before {
        margin-left: 15px;
    } */
}

@media (max-width: 310px) {
    nav .brand-logo {
        display: none;
    }
    .logo2 {
        display: block;
        text-align: center;
        font-size: 1.8em;
    }
    .call-out {
        margin-top: 50px;
    }
}

@media (max-width: 1264px) {
#setup-type-radio span {
    padding-left: 23px;
    margin-left: 0px;
    }
}

@media (max-width: 330px) {
    #setup-type-radio label {
        display: block;
        padding-left: 5rem;
        padding-bottom: 0.5rem;
    } 
    #setup-type-label {
        position: relative;
        left: 0px; 
        top: -10px;
        font-size: 15px;
    }
    .headings {
        width: 80%;
    }
}

@media (max-width: 1199px) {
    #my-setups-large-screen {
        display: none;
    }
}

@media (min-width: 597px) {
    #my-setups-small-screen {
        display: none;
    }
}

@media (max-width: 596px) {
    #my-setups-medium-screen {
        display: none;
    }
}

@media (min-width: 1200px) {
    #my-setups-medium-screen {
        display: none;
    }
}

@media (max-width: 450px) {
    #edit-page-button-section .btn-large {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 0px;
        padding-bottom: 3px;
        border-top: 0px;
        margin-top: 0px;
        height: 30px;
        line-height: 30px;
        /* margin: 0px; */
        /* line-height: 15px; */
    }
    #edit-page-button-section {
        text-align: center;
        font-size: larger;
    }
    .param-input {
        padding-top: 30px !important;  /* Note: '!important' only used on this occasion as was necessary to override a Materialize '!important' rule. */
    }
}

@media (max-width: 325px) {
    #edit-page-button-section .btn-large {
        font-size: 10px;
        padding-left: 4px;
        padding-right: 4px;
        margin: 2px;
    }
}

@media (max-width: 450px) {
    #my-setups-small-screen .btn-small {
        float: left;
    }
    .input-field .validate {
        padding-top: 40px;
}}