{% extends "base.html" %}

{% block content %}

<h3 class="center-align">Add a Sim</h3>

<h6 class="centered edit-setup-directions">Please enter the name of the new Sim, then add the Headings and the
  'setup parameters' within those Headings...</h6>



<div class="row">
  <form class="col s12" method="POST" action="{{ url_for('add_sim') }}">
    <div class="card-panel">
      <!-- Username field -->
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-gamepad prefix orange-text text-darken-3"></i>
          <input id="sim_name" name="sim_name" type="text" minlength="2" maxlength="40" class="validate"
            pattern="^[a-zA-Z0-9_ ]*$" required>
          <label for="sim_name">Name of New Sim</label>
        </div>
      </div>
      <!-- Section Field -->
      {% for i in range(1, 21) %}
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-file prefix orange-text text-darken-3"></i>
          <textarea  id="header{{ i }}" name="header{{ i }}" type="input" minlength="3" maxlength="30" class="validate materialize-textarea"
            pattern="^[a-zA-Z0-9_ ]*$"></textarea>
          <label for="header{{ i }}">Section {{ i }} Name</label>
          {% for j in range(1, 21) %}
            <div class="input-field col s12 m6">
              <i class="fas fa-cogs prefix orange-text text-darken-3"></i>
              <textarea  id="parameter{{ i }}-{{ j }}" name="parameter{{ i }}-{{ j }}" type="input" minlength="3" maxlength="30" class="validate materialize-textarea"
                pattern="^[a-zA-Z0-9_ ]*$"></textarea>
              <label for="parameter{{ i }}-{{ j }}">Parameter {{ j }} Name</label>
            </div>  
          {% endfor %}
        </div>
      </div>
      {% endfor %}
      <!-- Save button -->
      <div class="row">
        <button type="submit" class="col s12 btn-large orange darken-4 text-shadow">
          Save <i class="fas fa-sign-in-alt"></i>
        </button>
      </div>

    </div>
  </form>
</div>





{% endblock %}