{% extends "base3.html" %}

{% block content %}

<h3 class="center-align">Add a Sim</h3>

<h6 class="centered edit-setup-directions">Please enter the name of the new Sim, then add the Headings and the
  'setup parameters' within those Headings...</h6>

<form>
  <ul class="tutorial-menu collapsible">
    <!-- 1a. Add Sim Name -->
    <li>
      <div class="tutorial-list row collapsible-header white-text text-shadow orange darken-4">
        <div class="tutorial-choices col s11">
          <i class="fas fa-portrait"></i>
          <strong>Add New Sim Same</strong>
        </div>
        <div class="tutorial-choices col s1">
          <i class="fas fa-caret-down"></i>
        </div>

      </div>
      <div class="collapsible-body">
        <ul class="collapsible">
          <div class="row">
            <form id="add-new-sim" class="col s12" >
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="sim_name_lower" class="materialize-textarea"></textarea>
                  <label for="textarea1">Sim Name (in lowercase)</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="sim_name_upper" class="materialize-textarea"></textarea>
                  <label for="textarea1">Sim Text (Capitalised version to be displayed to the user)</label>
                </div>
              </div>
            </form>
          </div>
        </ul>
      </div>
    </li>

    <!-- 1b. Add Sim Headings -->
    
      <li>
        <div class="tutorial-list row collapsible-header white-text text-shadow orange darken-4">
          <div class="tutorial-choices col s11">
            <i class="fas fa-portrait"></i>
            <strong>Add Sim Heading</strong>
          </div>
          <div class="tutorial-choices col s1">
            <i class="fas fa-caret-down"></i>
          </div>
        </div>
        <!-- Select related Sim -->
        <div class="collapsible-body">
          <ul class="collapsible">
            <div class="row">
              <form id="add-new-heading" class="col s12" >
                <div class="row">
                  <div class="input-field col s12">
                    <select>
                      <option value="" disabled selected>Select Sim Name</option>
                      <option value="1">Option 1</option>
                      <option value="2">Option 2</option>
                      <option value="3">Option 3</option>
                    </select>
                    <label></label>
                  </div>
                  </div>
                </div>
                <!-- Heading Name and number -->
                <div class="row">
                  <div class="input-field col s12">
                    <textarea id="heading-name" name="heading-name" class="materialize-textarea"></textarea>
                    <label for="heading-name">Enter Heading Name</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <textarea id="heading-number" name="heading-number" class="materialize-textarea"></textarea>
                    <label for="heading-number">Enter Heading Number</label>
                  </div>
                </div>
                   
              </form>
            </div>
            <!-- Add New Parameter -->
            <li>
              <div class="tutorial-list row collapsible-header white-text text-shadow orange darken-4">
                <div class="tutorial-choices col s11">
                  <i class="fas fa-portrait"></i>
                  <strong>Add Parameter</strong>
                </div>
                <div class="tutorial-choices col s1">
                  <i class="fas fa-caret-down"></i>
                </div>
              </div>
              <!-- Select related Sim -->
              <div class="collapsible-body">
                <ul class="collapsible">
                  <div class="row">
                    <form id="add-new-heading" class="col s12" >
                      <div class="row">
                        <div class="input-field col s12">
                          <select>
                            <option value="" disabled selected>Select Sim Name</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                          </select>
                          <label></label>
                        </div>
                        </div>
                      </div>
                      <!-- Heading Name and number -->
                      <div class="row">
                        <div class="input-field col s12">
                          <textarea id="heading-name" name="heading-name" class="materialize-textarea"></textarea>
                          <label for="heading-name">Enter Heading Name </label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <textarea id="heading-number" name="heading-number" class="materialize-textarea"></textarea>
                          <label for="heading-number">Enter Order Number (dictates where parameter to be listed under heading)</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <textarea id="heading-number" name="heading-number" class="materialize-textarea"></textarea>
                          <label for="heading-number">param_name_with_underscores</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <textarea id="heading-number" name="heading-number" class="materialize-textarea"></textarea>
                          <label for="heading-number">Paramater Name as seen by User</label>
                        </div>
                      </div>
                         
                    </form>
                  </div>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
      
      <!-- Add a Parameter -->
    
      
    
  
</ul>
</form>



{% endblock %}