{% extends "base.html" %}

{% block content %}

<h3 class="center-align">Admin Tasks</h3>

<div class="row home-page-card-padding">

    <div class="large-admin-page">

        <div class="col hide-on-small-and-down m10 offset-m1 l6 home-page-card medium">
            <h4 class="header"></h4>
            <div class="card horizontal">
                
                <div class="card-stacked">
                    <div class="center-align">
                        <p>Manage Sims</p>
                    </div>
                    <div class="card-content center-align">
                        <i class="fas fa-gamepad admin-icons prefix orange-text text-darken-4"></i>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('add_sim') }}">Add</a>
                
                        <a href="{{ url_for('home') }}">Edit</a>
                
                        <a href="{{ url_for('home') }}">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col hide-on-small-and-down l6 m10 offset-m1 home-page-card medium">
            <h4 class="header"></h4>
            <div class="card horizontal">
                
                <div class="card-stacked">
                    <div class="center-align">
                        <p>Manage Cars</p>
                    </div>
                    <div class="card-content center-align">
                        <i class="fas fa-car admin-icons prefix orange-text text-darken-4"></i>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('home') }}">Add</a>
                
                        <a href="{{ url_for('home') }}">Edit</a>
                
                        <a href="{{ url_for('home') }}">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col hide-on-small-and-down m10 offset-m1 l6 home-page-small medium">
            <h4 class="header"></h4>
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="center-align">
                        <p>Manage Tracks</p>
                    </div>
                    <div class="card-content center-align">
                        <i class="fas fa-globe-americas admin-icons prefix orange-text text-darken-4"></i>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('home') }}">Add</a>
                
                        <a href="{{ url_for('home') }}">Edit</a>
                
                        <a href="{{ url_for('home') }}">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col hide-on-small-and-down m10 offset-m1 l6 home-page-card medium">
            <h4 class="header"></h4>
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="center-align">
                        <p>Manage Users</p>
                    </div>
                    <div class="card-content center-align">
                        <i class="fas fa-user admin-icons prefix orange-text text-darken-4"></i>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('home') }}">Add</a>
                
                        <a href="{{ url_for('home') }}">Edit</a>
                
                        <a href="{{ url_for('home') }}">Delete</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- <div class="card grey">
        <div class="card-content grey lighten-3 center-align">
            <span class="card-title">Manage Sims 1</span>
        </div>
        <div class="card-tabs ">
          <ul class="tabs tabs-fixed-width grey lighten-1">
            <li class="tab"><a href="#test4">Test 1</a></li>
            <li class="tab"><a class="active" href="#test5">Test 2</a></li>
            <li class="tab"><a href="#test6">Test 3</a></li>
          </ul>
        </div>
    </div> -->

    <div class="mobile-admin-choices">

        <div class="row">
            <div class="col s12 m6 hide-on-med-and-up">
                <div class="card center-align">
                    <div class="center-align card-content orange darken-2 white-text">
                        <span class="card-title">Manage Sims</span>
                        <i class="fas fa-gamepad admin-icons white-text"></i>
                        <p></p>
                    </div>
                    <div class="card-action deep-orange darken-1 admin-card">
                        <a class="white-text admin-choices" href="{{ url_for('add_sim') }}">Add</a>
                        
                        <a class="white-text admin-choices" href="{{ url_for('home') }}">Edit</a>
                    
                        <a class="white-text admin-choices" href="{{ url_for('home') }}">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6 hide-on-med-and-up">
                <div class="card center-align">
                    <div class="center-align card-content orange darken-2 white-text">
                        <span class="card-title">Manage Cars</span>
                        <i class="fas fa-car admin-icons white-text"></i>
                        <p></p>
                    </div>
                <div class="card-action deep-orange darken-1 admin-card">
                    <a class="white-text admin-choices" href="{{ url_for('home') }}">Add</a>
                    
                    <a class="white-text admin-choices" href="{{ url_for('home') }}">Edit</a>
                
                    <a class="white-text admin-choices" href="{{ url_for('home') }}">Delete</a>
                </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6 hide-on-med-and-up">
                <div class="card center-align">
                    <div class="center-align card-content orange darken-2 white-text">
                        <span class="card-title">Manage Tracks</span>
                        <i class="fas fa-globe-americas admin-icons white-text"></i>
                        <p></p>
                    </div>
                <div class="card-action deep-orange darken-1 admin-card">
                    <a class="white-text admin-choices" href="{{ url_for('home') }}">Add</a>
                    
                    <a class="white-text admin-choices" href="{{ url_for('home') }}">Edit</a>
                
                    <a class="white-text admin-choices" href="{{ url_for('home') }}">Delete</a>
                </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6 hide-on-med-and-up">
                <div class="card center-align">
                    <div class="center-align card-content orange darken-2 white-text">
                        <span class="card-title">Manage Users</span>
                        <i class="fas fa-user admin-icons white-text"></i>
                        <p></p>
                    </div>
                <div class="card-action deep-orange darken-1 admin-card">
                    <a class="white-text admin-choices" href="{{ url_for('home') }}">Add</a>
                    
                    <a class="white-text admin-choices" href="{{ url_for('home') }}">Edit</a>
                
                    <a class="white-text admin-choices" href="{{ url_for('home') }}">Delete</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}