{% extends "base.html" %}

{% block content %}

<h3 class="centered page-title submit-title">Admin - Edit Setup</h3>

<div class="row card-panel grey lighten-5">
  <form id="submit-setup-form" class="col s12" method="POST" action="{{ url_for('edit_setup_admin', setup_id=setup._id, sim_name = setup.sim_name, car_name=setup.car_name, track_name=setup.track_name, author = setup.created_by) }}">

    <div class="row">
      <div class="input-field col s12 sim-selection">
        <i class="fas fa-gamepad prefix orange-text text-darken-4 submit-icon"></i>
        <input value="{{ setup.sim_name }}" type="text" class="validate" name="{{ setup.sim_name }}">
        <label class="active" for="{{ setup.sim_name }}"></label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 sim-selection">
        <i class="fas fa-car prefix orange-text text-darken-4 submit-icon"></i>
        <input value="{{ setup.car_name }}" type="text" class="validate" name="{{ setup.car_name }}">
        <label class="active" for="{{ setup.car_name }}"></label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-globe-americas prefix orange-text text-darken-4"></i>
        <input value="{{ setup.track_name }}" type="text" class="validate" name="{{ setup.track_name }}">
        <label class="active" for="{{ setup.track_name }}"></label>
      </div>
    </div>

    <!-- Loop through Headings for the Chosen Sim/Game and display on screen, then within the headings loop through the parameters and display those -->

    {% for header in headers %}
    <div class="row">
      <div id="parameters-section" class="col s12">
        <h4 class="headings">{{ header.heading }}</h4>
      </div>

      <div class="row">
      {% for parameter in setup_parameters %}
      
        {% if parameter.heading.lower() == header.heading.lower() %}
          {% if parameter.param != "Rating_out_of_5" %}
            {% if parameter.heading == "Stats" %}
              {% if parameter.param == "Setup_Type" %}
                {% for key in setup %}
                  {% if key == parameter.param %}
            
                  

                    <label>Setup Type</label>
                      <select class="browser-default">
                        <option value="{{ setup[key] }}" disabled selected>Select setup type</option>
                        <option value="1">Qualifying</option>
                        <option value="2">Race</option>
                        <option value="3">Base</option>
                      </select>

                
                  {% endif %}
                {% endfor%}
              <!-- Set pattern requirements for Fastest Laptiime -->
              {% elif parameter.param == "Fastest_Lap" %}
                {% for key in setup %}
                  {% if key == parameter.param %}
                    <div class="input-field col s6">
                      <label class="label-size" for="{{ parameter.param }} :">{{ parameter.text }}</label><br>
                      <input placeholder="eg. 1'52.333" id="{{ parameter.param }}" name="{{ parameter.param }}" value="{{ setup[key] }}"
                        pattern="^\d'\d\d.\d\d\d$" type="text" class="validate" required>
                    </div>
                  {% endif %}
                {% endfor%}


              <!-- Author Name -->

              <div class="input-field col s12">
                <label class="label-size" for="{{ setup.created_by }}">Created By</label><br>
                <input placeholder="{{ setup.created_by }}" id="{{ setup.created_by }}" name="{{ setup.created_by }}" type="text" value="{{ setup.created_by }}"
                  class="validate" readonly>
              </div>

              <!-- Set requirements for 'Author Notes' section -->



              {% else %}
                {% for key in setup %}
                  {% if key == parameter.param %}
                    <div class="input-field col s12">
                      <label class="label-size" for="{{ parameter.param }} :">{{ parameter.text }}</label><br>
                      <input placeholder="Optional" id="{{ parameter.param }}" name="{{ parameter.param }}" type="text" value="{{ setup[key] }}"
                        class="validate">
                    </div>
                  {% endif %}
                {% endfor%}
              {% endif %}

            <!-- Set accepted pattern and HTML for all of the remaining parameters -->

            {% else %}
              {% for key in setup %}
                {% if key == parameter.param %}
                  <div class="input-field col s6 l3">
                    <label class="label-size" for="{{ parameter.param }} :">{{ parameter.text }}</label><br>
                    <input placeholder="Awaiting Input" id="{{ parameter.param }}" name="{{ parameter.param }}" value="{{ setup[key] }}"
                      pattern="^[0-9]\d{0,1}(\.\d{1,2})?%?$" type="text" min="1" max="5" class="validate" required>
                    <!-- note: validation pattern above copied from 'codeproject.com' :  https://www.codeproject.com/Questions/426944/regular-expression-which-allow-both-decimals-as-we -->
                    <!-- Allows numbers with or without decimal places between 0 and 99.99 -->
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
      </div>
    </div>
    {% endfor %}




    
    <!-- Submit button -->
    <div id="edit-page-button-section">

      <div class="row submit-button-div">
        <div class="col s12 center-align edit-page-buttons">
          <button id="edit-submit" type="submit" class="waves-effect btn-large light-blue">Submit Changes</button>
        </div>
      </div>

      <div class="row submit-button-div">
        <div class="col s12 center-align edit-page-buttons">
          <button href="" type="submit" class="waves-effect btn-large light-blue">Restart</button>
        </div>
      </div>

      <div class="row submit-button-div">
        <div class="col s12 center-align edit-page-buttons">
          <button type="submit" class="waves-effect btn-large light-blue">Cancel</button>
        </div>
      </div>

    </div>

  </form>
</div>






{% endblock %}