{% extends "base.html" %}

{% block content %}

<h3 class="centered page-title submit-title">Find a Setup</h3>

<div class="row card-panel grey lighten-5">
  <form id="submit-setup-form" class="col s12" method="POST" action="{{ url_for('find_setups_part3') }}">

    <div class="row">
      <div class="input-field col s12 sim-selection">
        <i class="fas fa-gamepad prefix orange-text text-darken-4 submit-icon"></i>
        <input value="{{ sim_name }}" type="text" class="validate" name="sim_name">
        <label class="active" for="sim_name"></label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 sim-selection">
        <i class="fas fa-car prefix orange-text text-darken-4 submit-icon"></i>
        <input value="{{ car_name }}" type="text" class="validate" name="car_name">
        <label class="active" for="car_name"></label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-globe-americas prefix orange-text text-darken-4"></i>
        <input value="{{ track_name }}" type="text" class="validate" name="track_name">
        <label class="active" for="track_name"></label>
      </div>
    </div>

    <section id="user-setups_list">
      <div>
        <h4 class="headings user-list-heading">Found the following Setups</h4>
      </div>

      <!-- User Setup List Headings -->

        <!-- Table 1 - Large Screens  -->

        <table id="my-setups-large-screen">
          <tr>
            <th>Car</th>
            <th>Track</th>
            <th>Lap Time</th>
            <th>Type</th>
            <th>Rating</th>
            <th>Date</th>
          </tr>
          {% for user_setup in user_setups %}
          <tr>
            <td>{{ user_setup.car_name }}</td>
            <td>{{ user_setup.track_name }}</td>
            <td>{{ user_setup.Fastest_Lap }}</td>
            <td>{{ user_setup.Setup_Type }}</td>
            <td>{{ user_setup.Rating_out_of_5 }}</td>
            <td>{{ user_setup.date_created }}</td>
            <td><a href="{{ url_for('edit_setup', setup_id=user_setup._id) }}"
                class="btn-small light-blue accent-4">Edit</a></td>
            <td><a href="{{ url_for('view_setup', setup_id=user_setup._id) }}" class="btn-small dark-green accent-4">View</a></td>
            <td><a href="{{ url_for('edit_setup', setup_id=user_setup._id) }}" class="btn-small red accent-2">Delete</a></td>
          </tr>


          <!-- <tr>
          <td>
            <a href="{{ url_for('edit_setup', setup_id=user_setup._id) }}" class="btn-small light-blue accent-4">Edit</a>
            <a class="btn-small dark-green accent-4">View</a>
            <a class="btn-small red accent-2">Delete</a>
          </td>       
        </tr> -->
          {% endfor %}
        </table>

        <!-- Table 2 - Medium Screens -->

        <table id="my-setups-medium-screen">
          <tr>
            <th>Car</th>
            <th>Track</th>
            <th>Lap Time</th>
            <th>Type</th>
            <th>Rating</th>
            <!-- <th>Last Save Date</th> -->
          </tr>
          {% for user_setup in user_setups %}



          </tr>
          <tr>
            <td>{{ user_setup.car_name}}</td>
            <td>{{ user_setup.track_name }}</td>
            <td>{{ user_setup.Fastest_Lap }}</td>
            <td>{{ user_setup.Setup_Type }}</td>
            <td>{{ user_setup.Rating_out_of_5 }}</td>
            <!-- <td>{{ user_setup.date_created }}</td> -->

            <!-- <td><a href="{{ url_for('edit_setup', setup_id=user_setup._id) }}" class="btn-small light-blue accent-4">Edit</a></td>
        <td><a class="btn-small dark-green accent-4">View</a></td>
        <td><a class="btn-small red accent-2">Delete</a></td>           -->
          </tr>
          <tr>
            <td>
              <a href="{{ url_for('edit_setup', setup_id=user_setup._id) }}"
                class="btn-small light-blue accent-4">Edit</a>
              <a href="{{ url_for('view_setup', setup_id=user_setup._id) }}" class="btn-small dark-green accent-4">View</a>
              <a href="{{ url_for('delete_setup', setup_id=user_setup._id) }}" class="btn-small red accent-2">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </table>

        <!-- Table 3 - Small Screens -->

        <table id="my-setups-small-screen">
          <tr>
            <th>Car</th>
            <th>Track</th>
            <th>Lap Time</th>
            <!-- <th>Type</th> -->
            <th>Rating</th>
            <!-- <th>Last Save Date</th> -->
          </tr>
          {% for user_setup in user_setups %}



          </tr>
          <tr>
            <td>{{ user_setup.car_name}}</td>
            <td>{{ user_setup.track_name }}</td>
            <td>{{ user_setup.Fastest_Lap }}</td>
            <!-- <td>{{ user_setup.Setup_Type }}</td> -->
            <td>{{ user_setup.Rating_out_of_5 }}</td>
            <!-- <td>{{ user_setup.date_created }}</td> -->

            <!-- <td><a href="{{ url_for('edit_setup', setup_id=user_setup._id) }}" class="btn-small light-blue accent-4">Edit</a></td>
        <td><a class="btn-small dark-green accent-4">View</a></td>
        <td><a class="btn-small red accent-2">Delete</a></td>           -->
          </tr>
          <tr>
            <td>
              <a href="{{ url_for('edit_setup', setup_id=user_setup._id) }}"
                class="btn-small light-blue accent-4">Edit</a>
            </td>
            <td>
              <a href="{{ url_for('view_setup', setup_id=user_setup._id) }}" class="btn-small dark-green accent-4">View</a>
            </td>
            <td>
              <a href="{{ url_for('delete_setup', setup_id=user_setup._id) }}" class="btn-small red accent-2">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </table>



    </section>
  </form>
</div>






{% endblock %}