{% extends "base.html" %}

{% block content %}

<!-- Sign In and Register buttons (shown if not already logged in) -->
{% if not session.user %}
<div class="row login-section">
    <div class="col s5 offset-s1 m3 offset-m3">
        <a href="{{ url_for('login') }}" class="btn home-page-login">Login<i class="fas fa-sign-in-alt"></i></a>
    </div>
    <div class="col s5 m3">
        <a href="{{ url_for('register') }}" class="btn home-page-login">Register<i class="fas fa-user-plus"></i></a>
    </div>
</div>
{% endif %}

<!-- Intro / welcome section -->

<div>
  <h5 class="callout-top">Our goal at Sim Setup World is to make you quicker, more consistent and help you on your way to racing glory.</h5> 
  <p class="callout">Choose from setups for ACC, iRacing, GT Sport and Project Cars 2</p>
  <p class="callout">Or visit our 'Tutorials' zone and learn how to set up your car like a Pro.</p>
  <p class="callout">Whatever you need we have it all here at Sim Racing World</p>
  <p class="callout">And if you're already a Pro, why not show your stuff and post your setups for everyone to try?</p>
</div>

<!-- Main Option Cards Section -->

<div class="row home-page-card-padding">

  <div class="col hide-on-small-and-down m10 offset-m1 l6 home-page-card medium">
      <h4 class="header">Find a Setup</h4>
      <div class="card horizontal">
          <div class="card-image">
              <img src="static/img/red-racing-car.jpg" alt="Image of a race car garage">
          </div>
          <div class="card-stacked">
              <div class="card-content">
                  <p>Try a setup from our database. Just enter your car and track and take your choice.</p>
              </div>
              <div class="card-action">
                  <a href="{{ url_for('find_setups_part1') }}">Find Setup</a>
              </div>
          </div>
      </div>
  </div>

  <div class="col hide-on-small-and-down l6 m10 offset-m1 home-page-card medium">
      <h4 class="header">Submit a Setup</h4>
      <div class="card horizontal">
          <div class="card-image">
              <img src="static/img/ferrari-f1-car.jpg" alt="Image of a racing car">
          </div>
          <div class="card-stacked">
              <div class="card-content">
                  <p>Created a race-winning setup you want to share? Save the details here and let fellow racers try it out for themselves.</p>
              </div>
              <div class="card-action">
                  <a href="{{ url_for('submit_setup_part1') }}">Submit Setup</a>
              </div>
          </div>
      </div>
  </div>

  <div class="col hide-on-small-and-down m10 offset-m1 l6 home-page-small medium">
      <h4 class="header">Edit / Delete a Setup</h4>
      <div class="card horizontal">
          <div class="card-image">
              <img src="static/img/red-bull-pic.jpg" alt="Image of a red bull race car">
          </div>
          <div class="card-stacked">
              <div class="card-content">
                  <p>Want to make an improvement or delete a current setup?</p><br> 
                  <p>Make your changes here</p>
              </div>
              <div class="card-action">
                  <a href="{{ url_for('my_setups_part1') }}">Edit / Delete Setup</a>
              </div>
          </div>
      </div>
  </div>

  <div class="col hide-on-small-and-down m10 offset-m1 l6 home-page-card medium">
      <h4 class="header">Setup Tutorials</h4>
      <div class="card horizontal">
          <div class="card-image">
              <img src="static/img/degree-photo.jpg" alt="picture of a neon degree sign">
          </div>
          <div class="card-stacked">
              <div class="card-content">
                  <p>Learn everything you need to know about the art of car setup using these handy YouTube guides.</p>
              </div>
              <div class="card-action">
                  <a href="{{ url_for('get_tutorials') }}">Tutorials</a>
              </div>
          </div>
      </div>
  </div>

  <div class="row">
    <div class="col s12 hide-on-med-and-up">
      <div class="card">
        <div class="card-image">
          <img src="static/img/red-racing-car.jpg" alt="Image of a race car garage">
          <span class="card-title">Find a Setup</span>
        </div>
        <div class="card-content">
          <p>Try a setup from our database. Just enter your sim, car and track and take your choice.</p>
        </div>
        <div class="card-action">
          <a href="{{ url_for('find_setups_part1') }}">Find Setup</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 hide-on-med-and-up">
      <div class="card">
        <div class="card-image">
          <img src="static/img/ferrari-f1-car.jpg" alt="Image of racing car">
          <span class="card-title">Submit a Setup</span>
        </div>
        <div class="card-content">
          <p>Created a race-winning setup you want to share? Save the details here and let fellow racers try it out for themselves.</p>
        </div>
        <div class="card-action">
          <a href="{{ url_for('submit_setup_part1') }}">Submit Setup</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 hide-on-med-and-up">
      <div class="card">
        <div class="card-image">
          <img src="static/img/red-bull-pic.jpg" alt="Image of a red bull race car">
          <span class="card-title">Edit / Delete a Setup</span>
        </div>
        <div class="card-content">
            <p>Want to make an improvement or delete a current setup?</p><br> 
            <p>Make your changes here</p>
        </div>
        <div class="card-action">
          <a href="{{ url_for('my_setups_part1') }}">Edit / Delete Setup</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 hide-on-med-and-up">
      <div class="card">
        <div class="card-image">
          <img src="static/img/degree-photo.jpg" alt="picture of a neon degree sign">
          <span class="card-title">Setup Tutorials</span>
        </div>
        <div class="card-content">
          <p>Learn everything you need to know about the art of car setup using these handy YouTube guides.</p>
        </div>
        <div class="card-action">
          <a href="{{ url_for('get_tutorials') }}">Setup Tutorials</a>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}