{% extends "base.html" %}

{% block content %}

<h3 class="centered page-title submit-title">Manage Setups</h3>

<h6 class="centered edit-setup-directions">Select your Combination below to narrow down the list or choose directly from the list at the bottom of the page.....</h6>

<div class="row card-panel grey lighten-5">
  <form class="col s12" method="POST" action="{{ url_for('manage_setups_part1') }}">


    <!-- Sim selection block  -  injects list of sims for Admin user to select from -->
    <div class="row">
      <div class="input-field col s12 sim-selection">
        <i class="fas fa-gamepad prefix orange-text text-darken-4 submit-icon"></i>
        <select id="sim_name" name="sim_name" class="validate" required>
          <option value="unselected" disabled selected>Select Sim</option>
          {% for sim in sims %}
            <option value="{{ sim.sim_name }}">{{ sim.sim_name }}</option>
          {% endfor %}
        </select>
        <label for="sim_name"></label>
      </div>
    </div>

    <!-- Placeholder visuals for Car and Track selections - appear on screen but not active until next page is rendered -->

    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-car prefix orange-text text-darken-4"></i>
        <select id="car_name" class="validate">
        </select>
        <label for="car_name"></label>
      </div>
    </div>


    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-globe-americas prefix orange-text text-darken-4"></i>
        <select id="track_name" class="validate">
        </select>
        <label for="track_name"></label>
      </div>
    </div>

    <div id="submit-setup-button-div" class="row">
    </div>

    <div id="clear-selection-button-div" class="row">
    </div>

  </form>
</div>

<!-- Table section - lists user setups for Admin to view, edit or delete -->

<section id="user-setups_list"> 
  <div>
    <h4 class="headings user-list-heading">Setup List</h4>
  </div>  

  <div id="users-setup-list" class="row card-panel grey lighten-5">
    <!-- User Setup List Headings -->

    <!-- Table 1 - Large Screens  -->

    <table id="my-setups-large-screen">
      <tr>
        <th>Car</th>
        <th>Track</th>
        <th>Lap Time</th>
        <th>Sim Name</th>
        <th>Date</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <!-- User setups injected here via a loop (large screens) -->
      {% for user_setup in user_setups %}
        <tr>
          <td>{{ user_setup.car_name }}</td>
          <td>{{ user_setup.track_name }}</td>
          <td>{{ user_setup.Fastest_Lap }}</td>
          <td>{{ user_setup.sim_name }}</td>
          <td>{{ user_setup.date_created }}</td>
          <td><a href="{{ url_for('edit_setup_admin', setup_id=user_setup._id) }}" class="btn-small light-blue accent-4">Edit</a></td>
          <td><a href="{{ url_for('view_setup', setup_id=user_setup._id) }}" class="btn-small dark-green accent-4">View</a></td>
          <td><a href="{{ url_for('delete_setup_admin', setup_id=user_setup._id) }}" class="btn-small red accent-2">Delete</a></td>      
        </tr>
      {% endfor %}
    </table>

    <!-- Table 2 - Medium Screens -->

    <table id="my-setups-medium-screen">
      <tr>
        <th>Car</th>
        <th>Track</th>
        <th>Lap Time</th>
        <th>Sim Name</th>
      </tr>

      <!-- User setups injected here via a loop (medium screens) -->
      {% for user_setup in user_setups %}
        <tr>
          <td>{{ user_setup.car_name}}</td>
          <td>{{ user_setup.track_name }}</td>
          <td>{{ user_setup.Fastest_Lap }}</td>
          <td>{{ user_setup.sim_name }}</td>
        </tr>
        <tr>
          <td>
            <a href="{{ url_for('edit_setup_admin', setup_id=user_setup._id) }}" class="btn-small light-blue accent-4">Edit</a>
            <a href="{{ url_for('view_setup', setup_id=user_setup._id) }}" class="btn-small dark-green accent-4">View</a>
            <a href="{{ url_for('delete_setup_admin', setup_id=user_setup._id) }}" class="btn-small red accent-2">Delete</a>
          </td>       
        </tr>
      {% endfor %}
    </table>

    <!-- Table 3 - Small Screens -->

    <table id="my-setups-small-screen">
      <tr>
        <th>Car</th>
        <th>Track</th>
        <th>Lap Time</th>
      </tr>

      <!-- User setups injected here via a loop (small screens) -->
      {% for user_setup in user_setups %}
      <tr>
        <td>{{ user_setup.car_name}}</td>
        <td>{{ user_setup.track_name }}</td>
        <td>{{ user_setup.Fastest_Lap }}</td>
      </tr>
      <tr>
        <td>
          <a href="{{ url_for('edit_setup_admin', setup_id=user_setup._id) }}" class="btn-small light-blue accent-4">Edit</a>
        </td>
        <td>
          <a href="{{ url_for('view_setup', setup_id=user_setup._id) }}" class="btn-small dark-green accent-4">View</a>
        </td>
        <td>
          <a href="{{ url_for('delete_setup_admin', setup_id=user_setup._id) }}" class="btn-small red accent-2">Delete</a>
        </td>       
      </tr>
      {% endfor %}
    </table>

  </div>
</section>






{% endblock %}