{% extends "base.html" %}

{% block content %}

<h3 class="centered page-title submit-title">Submit A Setup</h3>

<div class="row card-panel grey lighten-5">
  <form id="submit-setup-form" class="col s12" method="POST" action="{{ url_for('submit_setup_part3') }}">

    <div class="row">
      <div class="input-field col s12 sim-selection">
        <i class="fas fa-gamepad prefix orange-text text-darken-4 submit-icon"></i>
        <input value="{{ sim_name }}" type="text" class="validate" name="sim_name">
        <label class="active" for="sim_name"></label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 sim-selection">
        <i class="fas fa-car prefix orange-text text-darken-4 submit-icon"></i>
        <input value="{{ car_name }}" type="text" class="validate" name="car_name">
        <label class="active" for="car_name"></label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-globe-americas prefix orange-text text-darken-4"></i>
        <input value="{{ track_name }}" type="text" class="validate" name="track_name">
        <label class="active" for="track_name"></label>
      </div>
    </div>

    <!-- Loop through Headings for the Chosen Sim/Game and display on screen, then within the headings loop through the parameters and display those -->

    {% for header in headers %}
    <div class="row">
      <div id="parameters-section" class="col s12">
        <h4 class="headings">{{ header.heading }}</h4>
      </div>

      <div class="row">
      {% for parameter in setup_parameters %}
        {% if parameter.heading.lower() == header.heading.lower() %}
          {% if parameter.param != "Rating_out_of_5" %}
            {% if parameter.heading == "Stats" %}
              {% if parameter.param == "Setup_Type" %}
              <div id="setup-type-radio" class="input-field col s12 l6">
                <!-- Radio Buttins for 'Type' of setup -->
                <p>
                  <label id="setup-type-label" class="label-size">Setup Type</label>
                  <label for="base">
                    <input id="base" class="with-gap" name="{{ parameter.param }}" type="radio" checked />
                    <span>Base</span>
                  </label>
                  <label for="qualifying">
                    <input id="qualifying" class="with-gap" name="{{ parameter.param }}" type="radio" />
                    <span class="radio-width">Qualifying</span>
                  </label>
                  <label for="race">
                    <input id="race" class="with-gap" name="{{ parameter.param }}" type="radio" />
                    <span class="radio-width">Race</span>
                  </label>
                  
                </p>
              </div>

              <!-- Set pattern requirements for Fastest Laptiime -->

              {% elif parameter.param == "Fastest_Lap" %}
              <div class="input-field col s6">
                <label class="label-size" for="{{ parameter.param }} :">{{ parameter.param }}</label><br>
                <input placeholder="eg. 1'52.333" id="{{ parameter.param }}" name="{{ parameter.param }}"
                  pattern="^\d'\d\d.\d\d\d$" type="text" class="validate" required>
              </div>

              <!-- Set requirements for 'Author Notes' section -->

              {% else %}
              <div class="input-field col s12">
                <label class="label-size" for="{{ parameter.param }} :">{{ parameter.param }}</label><br>
                <input placeholder="Optional" id="{{ parameter.param }}" name="{{ parameter.param }}" type="text"
                  class="validate">
              </div>
              {% endif %}

            <!-- Set accepted pattern and HTML for all of the remaining parameters -->

            {% else %}
            <div class="input-field col s6 l3">
              <label class="label-size" for="{{ parameter.param }} :">{{ parameter.param }}</label><br>
              <input placeholder="Awaiting Input" id="{{ parameter.param }}" name="{{ parameter.param }}"
                pattern="^[0-9]\d{0,1}(\.\d{1,2})?%?$" type="text" min="1" max="5" class="validate" required>
              <!-- note: validation pattern above copied from 'codeproject.com' :  https://www.codeproject.com/Questions/426944/regular-expression-which-allow-both-decimals-as-we -->
              <!-- Allows numbers with or without decimal places between 0 and 99.99 -->
            </div>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
      </div>
    </div>
    {% endfor %}

    <!-- Submit button -->
    <div id="submit-page-button-section">

      <div class="row submit-button-div">
        <div class="col s12 center-align">
          <button id="submit-setup-button" type="submit" class="waves-effect btn-large light-blue">Submit Setup</button>
        </div>
      </div>

      <div class="row submit-button-div">
        <div class="col s12 center-align">
          <button id="submit-setup-button" type="submit" class="waves-effect btn-large light-blue">Restart</button>
        </div>
      </div>

      <div class="row submit-button-div">
        <div class="col s12 center-align">
          <button id="submit-setup-button" type="submit" class="waves-effect btn-large light-blue">Exit</button>
        </div>
      </div>

    </div>

  </form>
</div>






{% endblock %}