{% extends "base.html" %}

{% block content %}

<h3 class="centered page-title submit-title">Submit A Setup</h3>

<div class="row card-panel grey lighten-5">
  <form class="col s12" method="POST" action="{{ url_for('submit_setup_part3') }}">

    <div class="row">
      <div class="input-field col s12 sim-selection">
        <i class="fas fa-gamepad prefix orange-text text-darken-4 submit-icon"></i>
        <input value="{{ sim_name }}" type="text" class="validate" name="sim_name">
        <label class="active" for="sim_name"></label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 sim-selection">
        <i class="fas fa-car prefix orange-text text-darken-4 submit-icon"></i>
        <input value="{{ car_name }}" type="text" class="validate" name="car_name">
        <label class="active" for="car_name"></label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-globe-americas prefix orange-text text-darken-4"></i>
        <input value="{{ track_name }}" type="text" class="validate" name="track_name">
        <label class="active" for="track_name"></label>
      </div>
    </div>

    
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-car prefix orange-text text-darken-4"></i>
        <select id="" name="car_name" minlength="1" class="validate" required>    
          <option value="" disabled selected></i>Select Car</option>
          {%- for car in cars -%}
            <option value="{{ car.car_name }}">{{ car.car_name }}</option>
          {%- endfor -%}    
        </select>
        <label for="car_name"></label>
      </div>
    </div>



    
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Placeholder" id="first_name" type="text" class="validate">
        <label for="first_name">First Name</label>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          This is an inline input field:
          <div class="input-field inline">
            <input id="email_inline" type="email" class="validate">
            <label for="email_inline">Email</label>
            <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
          </div>
        </div>


        <div class="row">
          <div class="col s12 center-align">
            <button id="submit-setup-button" type="submit" class="waves-effect btn-large light-blue">Button</button>
          </div>
        </div>

  </form>
</div>






{% endblock %}