{% extends "base.html" %}

{% block content %}

<h3 class="centered page-title">Submit A Setup</h3>

<div class="input-field col s12">
    <select>
      <option class="submit-option" value="" disabled selected>Select Sim</option>
      <option value="1">Assetto Corsa Competizione</option>
      <option value="2">iRacing</option>
      <option value="3">Project Cars 2</option>
      <option value="4">GT Sport</option>
      <option value="5">Assetto Corsa</option>
    </select>
    <label></label>
  </div>

  <div class="input-field col s12">
    <select>
      <option value="" disabled selected></i>Select Car</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label></label>
  </div>

  <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Select Track</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label></label>
  </div>


{% endblock %}