{% extends "base.html" %}

{% block content %}

<h3 class="centered page-title submit-title">Submit A Setup</h3>

<div class="row card-panel grey lighten-5">
  <form class="col s12" method="POST" action="{{ url_for('submit_setup_part3') }}">

    <div class="row">
      <div class="input-field col s12 sim-selection" name="{{ sim_name }}">
        <i class="fas fa-gamepad prefix orange-text text-darken-4 submit-icon"></i>
        <p class="selected-item">{{ sim_name }}</p>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 sim-selection" name="{{ car_name }}">
        <i class="fas fa-car prefix orange-text text-darken-4 submit-icon"></i>
        <p class="selected-item">{{ car_name }}</p>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12" name="{{ track_name }}">
        <i class="fas fa-globe-americas prefix orange-text text-darken-4"></i>
        <p class="selected-item">{{ track_name }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col s12 center-align">
        <button id="submit-setup-button" type="submit" class="waves-effect btn-large light-blue">Button</button>
      </div>
    </div>

  </form>
</div>






{% endblock %}