{% extends "base.html" %}

{% block content %}

<h3 class="centered page-title submit-title">Submit A Setup</h3>

<div class="row card-panel grey lighten-5">
  <form class="col s12" method="POST" action="{{ url_for('submit_setup_part2') }}">

    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-gamepad prefix orange-text text-darken-4"></i>
        <input value="{{ sim_name }}" name="sim_same" type="text" class="validate">
          <label for="sim_name">Disabled</label>
        
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-car prefix orange-text text-darken-4"></i>
        <select id="car_name" name="car_name" class="validate" required>    
          <option value="" disabled selected></i>Select Car</option>
          {%- for car in cars -%}
            <option value="{{ car.car_name }}">{{ car.car_name }}</option>
          {%- endfor -%}    
        </select>
        <label for="car_name"></label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-globe-americas prefix orange-text text-darken-4"></i>
        <select id="track_name" name="track_name" class="validate" required>
          <option value="unselected" disabled selected></i>Select Track</option>
          {%- for track in tracks -%}
            <option value="{{ track.track_name }}">{{ track.track_name  }}</option>
          {%- endfor -%}
        </select>
        <label for="track_name"></label>
      </div>
    </div>

    <div class="row">
      <div class="col s12 center-align">
        <button id="submit-setup-button" type="submit" class="btn-large light-blue text-shadow">
          Submit<i class="fas fa-plus-square right"></i>
        </button>
      </div>
    </div>

  </form>
</div>






{% endblock %}